<!DOCTYPE html>
<html lang="pt-br">

<meta charset="utf-8">

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="uniao">
            <figure>
                <img src="../../../assets/união.png" position="absolute" left="50px">
            </figure>
        </div>

    </nav><br><br>

    <div class="float-m-right">
        <table class="table">
            <thead>
                <tr>
                    <th>Paciente</th>
                    <th>Data</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nome do Paciente</td>
                    <td>00/00/0000</td>

                    <button type="button" class="btn btn-basic ">
                      <i class='fas fa-pencil-alt'></i></button>

                    <button type="button" class="btn1 btn-basic " style="position:absolute; left: 1150px;">
                        <i class='fas fa-trash-alt'></i></button>

                </tr>
                <tr>
                    <td>Nome do Paciente</td>
                    <td>00/00/0000</td>

                    <button type="button" class="btn btn-basic ">
                      <i class='fas fa-pencil-alt'></i></button>

                    <button type="button" class="btn1 btn-basic " style="position:absolute; left: 1150px;">
                        <i class='fas fa-trash-alt'></i></button>


                </tr>
                <tr>
                    <td>Nome do Paciente</td>
                    <td>00/00/0000</td>
                    <button type="button" class="btn btn-basic ">
                      <i class='fas fa-pencil-alt'></i></button>

                    <button type="button" class="btn1 btn-basic " style="position:absolute; left: 1150px;">
                        <i class='fas fa-trash-alt'></i></button>

                </tr>
            </tbody>
        </table>


    </div>
