.navbar {
    background-color: #4075BB;
    width: 1365px;
    height: 50px
}

.ion-text-center {
    text-align: center;
    background: #c5cfe6;
    margin: 3em auto;
    font-weight: 700;
}

.uniao {
    position: absolute;
    width: 462px;
    height: 70px;
    left: 90px;
    top: 10px;
    margin-top: 0px;
    margin-right: 0px;
}

.btn {
    border-radius: 6px;
    position: absolute;
    color: white;
    background-color: #98D572;
    width: 62px;
    height: 30px;
}

.btn1 {
    background-color: #E86464;
    border-radius: 6px;
    position: absolute;
    color: white;
    width: 62px;
    height: 30px;
    border-color: transparent;
}
