.ion-text-center {
    text-align: center;
    background: #c5cfe6;
    margin: 3em auto;
    font-weight: 700;
}

.button-small {
    text-align: center;
    background-color: #cfe5ec;
    /* Green */
    border: rgb(4, 4, 119);
    color: blue;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1px 3px;
}