<!DOCTYPE html>
<html lang="pt-br">

<meta charset="utf-8">

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="logo">
            <figure>
                <img src="../../../assets/logoAlt.png" position="absolute" left="50px">
            </figure>
        </div>

    </nav>

    <br><br>
    <div class="header">
        <div class=ng-container>
            <img src="../../../assets/grupo 143.png" position="absolute" left="50px">

        </div>


        <form>



        </form>




        <div class="horizontalIn">




            <div style="text-align:center">
                <h1 style="text-decoration: underline;">Lorem Ipsum</h1>
                <img src=" ../../../assets/star.png ">
                <img src=" ../../../assets/star.png ">
                <img src=" ../../../assets/star.png ">
                <img src=" ../../../assets/star.png ">
                <img src=" ../../../assets/star.png ">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas</p>
                <p>adipiscing elit. Maecenas blandit faucibus mattis.</p>
                <p> Donec pharetra odio convalli. Lorem ipsumdolor sit</p>
                <p>amet, consectetur adipiscing elit. Maecenas </p>
                <p>blandit faucibus mattis. Donec pharetra odio convalli.</p>
            </div>




            <body>










            </body>

            <html>

            </html>
