@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
.header {
    top: 10;
    left: 10px;
    width: 1350px;
    height: 100px;
    background: white 4 0% 0% no-repeat padding-box;
    opacity: 1;
}

.uniao {
    position: absolute;
    width: 462px;
    height: 80px;
    float: left;
    top: 20px;
    margin-top: 0px;
    margin-right: 0px;
}

.figure {
    position: relative;
    top: 50%;
}

.user {
    width: 400px;
    height: 361px;
    float: right;
    margin-top: 15px;
    margin-right: 80px;
}

.imagem {
    position: absolute;
    width: 300px;
    height: 300px;
    background-size: 300px;
    border: solid 2px;
    text-shadow: white 0px 0px 2px;
    font-size: 16px;
}

.logo {
    position: absolute;
    width: 462px;
    height: 70px;
    left: 230px;
    top: 10px;
    margin-top: 0px;
    margin-right: 0px;
}

.h1 {
    position: absolute;
    /* height: 10%;
    top: 0%;*/
    color: rgb(33, 150, 38);
}

div.absolute1a {
    position: absolute;
}

.circle {
    /*pode descer o objto ou subir de acordo como os valores*/
    background-color: #4075BB;
    border-radius: 50%;
    /*serve para  arrendondar os cantos*/
    width: 10vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-right: 80px;
}

.horizontalIn {
    background-color: #F2F2F2;
}

.circle2 {
    top: 10px;
    /*pode descer o objto ou subir de acordo como os valores*/
    background-color: #4075BB;
    border-radius: 50%;
    /*serve para  arrendondar os cantos*/
    width: 10vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-right: 80px;
}

.circle img {
    align-items: center;
    position: absolute;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

div.absolute2a {
    position: absolute;
}

.btn-primary {
    width: 247px;
    height: 49px;
    top: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 14px;
    font-size: 14px;
    background-color: #4075BB;
    position: absolute;
}

.footer {
    background: #00000029 0% 0% no-repeat padding-box;
    position: absolute;
    bottom: 0;
    width: 100%;
}
