<header>
    <div class="imglogin ">
        <img src="../../../assets/logo sem fundo.png" class="img-fluid" width="9%" height="25%" alt="Imagem responsiva">
    </div>
</header>

<body>
    <div class="Vertical">

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/criar">Inserir Pedidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/lista">Listagem de Pedidos</a>
            </li>

        </ul>


    </div>

</body>
