<!DOCTYPE html>
<html lang="pt-br">

<meta charset="utf-8">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="logo">
        <figure>
            <img src="../../../assets/logoAlt.png" position="absolute" left="50px">
        </figure>
    </div>

</nav>

<body>

    <div class="header"><br><br>
        <div style="text-align:center">
            <div class=figure>
                <img src="../../../assets/grupo 143.png" position="absolute" width="900px">


            </div>
        </div>


        <br><br><br><br>





        <div style="text-align:center">
            <h1 style="text-decoration: underline;">Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas</p>
            <p>adipiscing elit. Maecenas blandit faucibus mattis.</p>
            <p> Donec pharetra odio convalli. Lorem ipsumdolor sit</p>
            <p>amet, consectetur adipiscing elit. Maecenas </p>
            <p>blandit faucibus mattis. Donec pharetra odio convalli.</p>
        </div>

        <div style="text-align:center">
            <div class="horizontalIn">

                <div class="row no-padding">
                    <div class="col-xl-6 d-flex justify-content-center">
                        <div class="row">

                            <div class="circle" alt="Imagem responsiva">
                                <img src=" ../../../assets/relatorio.png " display="block" margi-left="alt" margin-right="">
                            </div>

                            <div>
                                <div class="circle2" alt="Imagem responsiva">
                                    <img src=" ../../../assets/paciente.png " display="block" margi-left="alt" margin-right="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div><br><br>


            <div class="row">
                <div>
                    <div style="text-align:center">
                        <h1 style="text-decoration: underline;">Lorem Ipsum</h1>
                        <img src=" ../../../assets/star.png ">
                        <img src=" ../../../assets/star.png ">
                        <img src=" ../../../assets/star.png ">
                        <img src=" ../../../assets/star.png ">
                        <img src=" ../../../assets/star.png ">
                        <p>Lorem ipsum dolor sit amet, consectetur </p>
                        <p>adipiscing elit. Maecenas blandit faucibus mattis.</p><br><br>

                        <footer>


                            <div>
                                <p><img src="../../../assets/logoAlt.png" style="right: 1000px; position:absolute;"></p>
                            </div><br><br>

                            <div>
                                <p><img src="../../../assets/localização.png" style="right: 1050px; position:absolute;"></p>
                            </div><br>

                            <div>
                                <p><img src="../../../assets/email.png" style="right: 1050px; position:absolute;"></p>

                            </div>



                        </footer>
                        <div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div>
            <p style="right: 250px; position:absolute;">
                <font color="#2D2F91" right="5px" position="absolute">
                    © 2021 MEDIOODONTO. All rights reserved.
                </font>
            </p>
        </div>
    </div>



    <br><br>











</body>


</html>
