<!DOCTYPE html>
<html>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<!--Get your own code at fontawesome.com-->
<header>
    <style>
        body {
            background-image: src="../../../assets/photo_fundo.jpg" width="32%" background-image="25%" alt="Imagem responsiva";
        }
    </style>



    <nav class="navbar navbar-default text-center">

        <div class="pull-right text-center">

        </div>
    </nav>
    <div class="imgagem text-center">



    </div>
</header>

<body _ngcontent-teu-c20 style=" text-align: -webkit-center;
/* align-items: center; */
">

    <div class="container-fluid">
        <div class="imglogin">
            <img src="../../../assets/logo sem fundo.png" class="img-fluid" width="21%" height="50%" alt="Imagem responsiva">
        </div><br><br>
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <form>
                    <div>


                        <button type="button" class="btn btn-basic ">
                        <i class='fas fa-user-alt' style='font-size:24px;color:#9B9898' width="30px" height="30px" style = "position:absolute; left: 250px;"></i>
                      <p style = "position:absolute; left: 280px;">login</p> </button>

                    </div><br>
                    <div> <button type="button" class="btn btn-basic ">
  <i class='fas fa-lock' style='font-size:24px;color:#9B9898'  width="40px" height="40px" style = "position:absolute; left: 250px;"></i>
<P style = "position:absolute; left: 280px;">Senha</P> </button></div>


                    <br>
                    <button type="button" class="btn btn-primary ">
                      <P>Entrar</P> </button>
                </form><br>
                <p span _ngcontent-c1 class="text-center" style="margin-left: 15px">
                    <a href="#" class="text-center" color="#9B9898" top="600px" left="446px" width="133px">Esqueceu a senha? </a>


            </div>
        </div>
    </div>
</body>
