@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
.tela-login {
    position: absolute;
    height: 620px;
    width: 470px;
    top: 25%;
    left: 35%;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    /* margin-top: -260px;
  margin-left: -160px; */
    /* overflow: hidden; */
}

.pull-right {
    float: right!important;
    position: absolute;
    top: 30%;
    right: 40%;
    height: 620px;
    width: 175px;
    font-weight: 900;
}

.navbar {
    background: white;
    color: #f8f8f8!important;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
    padding: 28px 0px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 50%;
    margin: 1em auto;
}

.body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    font-family: elite;
    overflow-x: hidden
}

.body {
    margin: 100;
    background-color: white;
}

.form-control {
    display: block;
    width: 50%;
    height: 33px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border-radius: 4px;
    text-transform: uppercase;
    direction: rtl;
}

.btn {
    user-select: none;
    margin-bottom: 0;
    touch-action: manipulation;
    background-image: none;
    border: 4px solid transparent;
    margin: 10 px;
    width: 50%;
    color: white;
}

.pull-right text-center {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.btn-primary {
    background-color: #2D2F91;
}

a {
    color: #9B9898;
    text-decoration: none;
    background-color: transparent;
}

.pull-right[_ngcontent-kax-c20] {
    float: right!important;
    top: 50%;
    right: 50%;
    height: 520px;
    width: 370px;
    font-weight: 900;
}

.btn-basic {
    right: 50%;
    height: 60px;
    width: 435px;
    background-color: #F2F2F2;
    color: #9B9898;
}


/* .btn-primary{
 eKçllwlç2ÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇÇ~...............
   color: #fff;
   border-color: #2e6da4;
   text-align: center;
}

.btn-block{

  display: block;
  width: 100%;
  text-align: center;
} */
