<header>


    <nav class="navbar navbar-default text-center">
        <div class="tela-login">
            LOGIN
        </div>
        <div class="pull-right text-center">
            SISTEMA DE APOIO
        </div>
    </nav>
    <div class="imgagem text-center">
        <img src="../../../assets/photo_fundo.jpg" width="40%" heightbackground-image="25%" alt="Imagem responsiva">
    </div>
</header>

<body _ngcontent-teu-c20 style=" text-align: -webkit-center;
/* align-items: center; */
">

    <div class="container-fluid">
        <div class="imglogin">
            <img src="../../../assets/logo sem fundo.png" class="img-fluid" width="21%" height="50%" alt="Imagem responsiva">
        </div>
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <form>
                    <div>
                        <input class="form-control" type="email" name="email" placeholder="Digite seu usuario">
                    </div>
                    <br>
                    <div>
                        <input class="senha form-control" type="password" name="password" placeholder="Digite seu e-mail">
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary rounded-pill" routerLink="/home">Entrar <i class="fas fa-arrow-right"> </i></button>

                    <p span _ngcontent-c1 class="text-center" style="margin-left: 15px">
                        <p>© 2020 RPsys.</p>

                </form>
            </div>
        </div>
    </div>
</body>