<!DOCTYPE html>

<html lang="pt-br" ng-app="alurapic">

<body _ngcontnt-oxo-c16 style="display: flex;">
    <form class="form">
        <div class="esquerda">

            <div class="imagen27">
                <div align="center"><img src="../../../assets/logo sem fundo.png" position="absolute" left="50px" right="15px" class="img-fluid" width="35%" height="60%" alt="Imagem responsiva" style="text-align: -webkit-center;"></div>

            </div>
            <br><br>

            <div align="center">
                <div><button type="button" class="btn btn-basic ">

                <p style= "position:absolute; left: 60px;color: #9B9898;">Senha</p> </button></div> <br>


                <div> <button type="button" class="btn btn-basic ">

    <P style = "position:absolute; left: 60px;color: #9B9898;">Nova Senha</P> </button></div>


                <br>
                <button type="button" class="btn btn-primary ">
      <P>Salvar</P> </button><br><br><br>
            </div>

        </div>

    </form>





    <form class="form">
        <img class="img-responsive" src="../../../assets/medico.png" alt="Trulli" width="733" height="630">


    </form>
    <br>
