<!DOCTYPE html>
<html lang="pt-br">

<meta charset="utf-8">

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="uniao">
            <figure>
                <img src="../../../assets/união.png" position="absolute" left="50px">
            </figure>
        </div>

    </nav><br><br><br>

</body>



<div id="main" class="container-fluid">
    <div class="texto">
        <h2>
            <font color="#9B9898">Editar Pedidos</font>
        </h2>
    </div><br><br>

    <div class="colunas"><br><br><br><br>

        <div class="row">

            <div class="form-group col-md-4">
                <label for="campo1">
                      <font color="#9B9898">
                      Data do Pedido
                    </font>
                    </label>
                <input id="date" type="date" class="form-control" id="campo1">
            </div>

            <div class="form-group col-md-4"> <select name="subject" id="subject">
            <option value="" selected="selected">
              <font color="#9B9898">Selecione Hospital</font></option>
          </select>
            </div>

            <div class="form-group col-md-4">
                <label for="campo2">
                  <font color="#9B9898">Paciente</font>
                  </label>
                <input type="text" class="form-control" id="campo2">
            </div>
            <div class="form-group col-md-4">
                <label for="campo2">
                  <font color="#9B9898"> Tipo de </font>

                  </label>
                <input type="text" class="form-control" id="campo2">
            </div>
            <div class="form-group col-md-4"> <select name="subject" id="subject">
            <option value="" selected="selected">
              <font color="#9B9898">Selecione o Convênio</font></option>
          </select>
            </div>
            <div class="form-group col-md-4">
                <label for="campo2">
                  <font color="#9B9898">Prontuário</font></label>
                <input type="text" class="form-control" id="campo2">
            </div>
            <div class="form-group col-md-4">
                <label for="campo2">
                  <font color="#9B9898">Médico</font></label>
                <input type="text" class="form-control" id="campo2">
            </div>
            <div class="form-group col-md-4">
                <label for="campo2">
                  <font color="#9B9898">Data da Cirurgia</font></label>
                <input id="date" type="date" class="form-control" id="campo2">
            </div>
            <div id="actions" class="row">

            </div><br>



        </div>
        <div id="actions" class="row">
            <div class="col-md-12">
                <div></div>
                <button type="submit" class="btn">Salvar</button>

            </div>
        </div>
